<a href="https://colab.research.google.com/github/Jordy-Rodrigues/RandomForestRegressor/blob/main/%C3%81rvore_de_decis%C3%A3o_aleat%C3%B3ria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PREVISÃO USANDO RANDOM FOREST REGRESSOR COM PARÂMETROS

In [335]:
# BIBLIOTECAS NECESSÁRIAS
import pandas as pd
import numpy as np
# BIBLIOTECAS DE MACHINE LEARNING
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [336]:
# CARREGAR OS DADOS
data = pd.read_csv('/content/drive/MyDrive/California-Housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [337]:
# VER AS INFORMAÇÕES DO DATASET
# EXCLUIR A COLUNA DO TIPO object 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [338]:
# VER NA BASE DE DADOS QUANTOS VALORES VAZIOS OU AUSENTES 
# EXCLUIR A COLUNA total_bedrooms        
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [339]:
# EXCLUIR DA BASE DE DADOS A COLUNA ocean_proximity DO TIPO STRING E A COLUNA 
data = data.drop(['ocean_proximity','total_bedrooms'], axis=1)
data.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0

In [340]:
# SEPARAR A VARIÁVEL X DEPENDENTE DA VARIÁVEL Y INDEPENDENTE
x = data.drop ('median_house_value', axis=1)
y = data ['median_house_value']

In [341]:
# SEPARAR O MODELO PARA TREINO E TESTE
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.5, random_state=0)

In [342]:
# CHAMAR O MODELO DE MACHINE LEARNING
# COLOCAR NESSE EXEMPLO MIL ÁRVORES PARA CONTROLAR O OVERFIT
modelo = RandomForestRegressor(n_estimators=1000, random_state=0,n_jobs=-1)

In [343]:
# TREINAR O MODELO
modelo.fit (x_treino, y_teste)

RandomForestRegressor(n_estimators=1000, n_jobs=-1, random_state=0)

In [344]:
# PASSAR PARA O MODELO DADOS QUE ELE AINDA NÃO VIU
p = modelo.predict(x_teste)

In [345]:
# USAR O FORMULA DE ERRO QUADRÁTICO MÉDIO PARA OBTER A MELHOR MÉDIA
# TESTAR PARÂMETROS E ÁRVORES MUITO PROFUNDAS PARA PROCURAR ENCONTRAR MELHOR VALOR ERRO QUADRÁTICO MÉDIO
np.sqrt(mean_squared_error (y_teste, p))

118037.72948623945